<p id="notice"><%= notice %></p>

<p>
  <b>Pergunta:</b>
  <%= @question.title %>
</p>

<p>
  <b>Resposta:</b>
  <%= @question.answer %>
</p>

<%= button_to 'Editar', edit_question_path(@question) %> |
