<div id="employee_values" class="box bordered" style="position:relative;">
  <h4>Dodos do Funcionario:</h4>
  <p>
    <b>Nome:</b>
    <%= @employee.name%>
  </p>

  <p>
    <b>Endereco</b>
    <%= @employee.address%>
  </p>

  <p>
    <b>CPF:</b>
    <%= @employee.cpf%>
  </p>

<%= link_to 'Back', employees_path, :class => "btn btn-small dark-blue"%>


