<div class="top-bar">
  <a id="topbar-brand-out" class="brand" href="../home">
     Portal de Estágios do PCS
  </a>
  <div class="pull-right">
    <div class="hpadded20">
      <a class="btn btn-small dark-blue" href="../home">Dashboard</a>
    </div>
  </div>
</div>