<h1>Editing newsletter</h1>

<%= render 'form' %>

<%= link_to 'Show', @newsletter, :class => 'btn btn-small light-blue inverse' %> |
<%= link_to 'Back', newsletters_path, :class => 'btn btn-small light-blue inverse' %>
