<h1>Listing newsletters</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>T&iacute;tulo</th>
    <th>Mensage a ser enviada</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= newsletter.title %></td>
    <td><%= newsletter.message_body %></td>
    <td><%= button_to 'Show', newsletter %></td>
  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Newsletter', new_newsletter_path %>
