<% if object && object.errors.size > 0 %>
  <div id="errorExplanation" class="alert red fade in">
    <h4>Um erro foi encontrado!</h4>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
