<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
    <h1><%= @title %></h1>
    <p>
      Olá <%= @clientName %>,
      Voce esta recebendo a seguinte mensagem referente ao caso <%= @supportCase.description %>.
    </p>
    </br>
    <%= @content%>
    </br>
    <p>
      Atenciosamente,

      Equipe de Suporte - Estagio Facil
    </p>
</body>
</html>
